.top{
    background-color: #aac9ce;
    padding: 10px;
  
}

.bottom{
    padding-top: 20px;
    background-color: #dadada;
}
.bottom-2{
    background-color: white !important;
}

.welcome{
    margin-bottom: 20px !important;
}

input{
    background-color: transparent !important;
    border: 3px none;
    margin-bottom: 20px !important;
    outline: none;
    color: black !important;
}

.btnn{
    width: 80%;
    background-color: #aac9ce;
    color: #f7f7f7;
    margin:  0 auto;
    margin-top: 20px;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 300 !important;
    transition: all ease 200ms;
}
.login{
    margin-top: 35px !important;
    margin-bottom: 75px !important;
    color: black;
    height: 50px;
}

/* Primary button */

.log-btnn{
    width: 20% !important;
    height: 20% !important;
    background-color: #aac9ce !important;
    border: none !important;
    border-radius: 12px !important;
    margin-top: 10px;
}

.create, .Sign{
    color: Black !important;
    border: none !important;
}

.create, .Sign:hover{
    background-color: transparent !important;
}

.btn-line{
    height: 2px;
    position: relative;
    top: -75px;
    background-color: #b6b4c2;
    /* border: 1px dashed rgb(197, 192, 192); */

}

.line{
    width: 80%;
    height: 1px;
    background-color: #aac9ce;

}

form{
    margin-left: 5% !important;
    color: black !important;
}

.button-1{
    margin-top: 20px; 
    
}

.btn-primary{
    width: 20% !important;
    background-color: #aac9ce !important;
    border: none !important;
    border-radius: 12px !important;
}

.log-btnn, .sign-btn{
    position: relative;
    z-index: 1;
}

/* Secondary button under primary */
.sign-btn{
    width: 20% !important;
    margin-left: 2% !important;
}

.sign{
    margin-left: 5% !important;
    border: none !important;
    color: black !important;
}





/* @media for md */

@media (min-width: 768px) and (max-width: 991.98px){
.bottom{
    background-color: #ffff;
    padding: 10px;
  
}

.create,.Sign{
    color: black !important;
    border: none !important;
    margin-left: 41% !important;
}

.top{
    background-color: rgb(197, 192, 192);
    padding: 10px;
  
}

strong{
    color: black !important;
}

.line{
    width: 80%;
    height: 1px;
    background-color: black;
    margin-top: 25px !important;
    margin-bottom: 15px !important;

}

.reg-container{
    background-color: rgb(243, 241, 241);
    height: 50px;
    margin-top: 150px;
    padding: 0 !important;
}

.sign1{
    width: 100px;
    height: 25px;
    background-color: coral;
}

.form{
    color: black;
    height: 400px;
}

.left{
    height: 400px;
    float: left;
    border-right: solid black 1px;

}

.right{
    
    height: 400px;
    float: left;
    
}

form{
    margin-left: 30% !important;
    color: black !important;
}

h1{
    text-align: center;
    color: black;
    padding-top: 10px;
    padding-bottom: 60px;
}
h2{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-bottom: 20px;
    color: black;
}

h5{
    color: black;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 160px;
    margin-left: 22%;
}

p{
    color: black;
    font-size: x-small;
}

.input-1{
    border: none 0 !important;
    width: 60% !important;
    height: 50px;
    background-color: none !important;
    color: black !important;

}

input{
    border: none 0 !important;
    background-color: none !important;
    color: black !important;
}

.line{
    width: 200px;
    height: 1px;
    background-color: #2b2b2b;
}

.button{
    padding-top: 20px !important;

}

.banking{
    border-left: 1px solid black !important;
}


input{
    border: none !important;
    color: black !important;
}



    

}

@media (min-width: 992px){ 

    .bottom{
        background-color: #ffff;
        padding: 10px;
      
    }

    .main-container{
        box-shadow: 9px 8px 26px -2px rgba(0,0,0,0.36);
        -webkit-box-shadow: 9px 8px 26px -2px rgba(0,0,0,0.36);
        -moz-box-shadow: 9px 8px 26px -2px rgba(0,0,0,0.36);
    }

    .create,.Sign{
        color: black !important;
        border: none !important;
        margin-left: 41% !important;
    }

    
 }


 @media (min-width: 1440px){ 

    .bottom{
        background-color: #ffff;
        padding: 10px;
      
    }
    
    .create{
        color: black !important;
        border: none !important;
        margin-left: 41% !important;
    }
    
     }