* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Poppins", sans-serif;
  }
  
  .nav {
    position: absolute;
    width: 100%;
    display: flex;
    padding: 3rem 10rem;
    justify-content: space-between;
  }
  
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
  }
  
  header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header ul li {
    position: relative;
    list-style: none;
    text-align: center;
  }
  
  header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    text-align: center;
  }
  
  header.sticky {
    padding: 5px 100px;
    background: #000;
  }
  
  header.sticky ul li a{
    color: #000;
    text-align: center;
  }
  
  .container {
    height: 100vh;
  }

  .v122_4574 {
    width: 100%;
    height: 1594px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v86_4736 {
    width: 100%;
    height: 1594px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v86_4737 {
    width: 100%;
    height: 510px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v86_4738 {
    width: 38px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 454px;
    left: 764px;
    overflow: hidden;
  }
  .v86_4739 {
    width: 38px;
    height: 38px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v86_4740 {
    width: 38px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 454px;
    left: 1141px;
    overflow: hidden;
  }
  .v86_4741 {
    width: 38px;
    height: 38px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v86_4742 {
    width: 100px;
    height: 100px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 423px;
    left: 910px;
    overflow: hidden;
  }
  .v86_4743 {
    width: 81px;
    height: 18px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 40px;
    left: 9px;
  }
  .v86_4765 {
    width: 100%;
    height: 504px;
    background: url("../images/v86_4765.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 80px;
    border: 1px solid rgba(180,180,180,1);
  }
  .v86_4766 {
    width: 267px;
    height: 371px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 657px;
    left: 80px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    overflow: hidden;
  }
  .v86_4769 {
    width: 266px;
    height: 369px;
    background: url("../images/v86_4769.png");
    opacity: 1;
    position: absolute;
    top: 657px;
    left: 81px;
    border: 1px solid rgba(180,180,180,1);
  }
  .v86_4770 {
    width: 267px;
    height: 371px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 1244px;
    left: 80px;
    overflow: hidden;
  }
  .v86_4771 {
    width: 267px;
    height: 371px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 1244px;
    left: 80px;
    overflow: hidden;
  }
  .v86_4772 {
    width: 267px;
    height: 270px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 1244px;
    left: 80px;
    overflow: hidden;
  }
  .v86_4773 {
    width: 266px;
    height: 207px;
    background: url("../images/v86_4773.png");
    opacity: 1;
    position: absolute;
    top: 1244px;
    left: 81px;
    border: 1px solid rgba(180,180,180,1);
  }
  .v86_4774 {
    width: 267px;
    height: 371px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 1244px;
    left: 378px;
    overflow: hidden;
  }
  .v86_4775 {
    width: 267px;
    height: 371px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 1244px;
    left: 378px;
    overflow: hidden;
  }
  .v86_4776 {
    width: 267px;
    height: 270px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 1244px;
    left: 378px;
    overflow: hidden;
  }
  .v86_4777 {
    width: 266px;
    height: 207px;
    background: url("../images/v86_4777.png");
    opacity: 1;
    position: absolute;
    top: 1244px;
    left: 379px;
    border: 1px solid rgba(180,180,180,1);
  }
  .v86_4778 {
    width: 267px;
    height: 371px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 1242px;
    left: 677px;
    overflow: hidden;
  }
  .v86_4779 {
    width: 267px;
    height: 371px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 1242px;
    left: 677px;
    overflow: hidden;
  }
  .v86_4780 {
    width: 267px;
    height: 270px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 1242px;
    left: 677px;
    overflow: hidden;
  }
  .v86_4781 {
    width: 266px;
    height: 207px;
    background: url("../images/v86_4781.png");
    opacity: 1;
    position: absolute;
    top: 1242px;
    left: 678px;
    border: 1px solid rgba(180,180,180,1);
  }
  .v86_4782 {
    width: 267px;
    height: 371px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 1244px;
    left: 378px;
    overflow: hidden;
  }
  .v86_4783 {
    width: 267px;
    height: 371px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 1244px;
    left: 378px;
    overflow: hidden;
  }
  .v86_4784 {
    width: 267px;
    height: 270px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 1244px;
    left: 378px;
    overflow: hidden;
  }
  .v86_4785 {
    width: 266px;
    height: 207px;
    background: url("../images/v86_4785.png");
    opacity: 1;
    position: absolute;
    top: 1244px;
    left: 379px;
    border: 1px solid rgba(180,180,180,1);
  }
  .v86_4786 {
    width: 267px;
    height: 371px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 1242px;
    left: 677px;
    overflow: hidden;
  }
  .v86_4787 {
    width: 267px;
    height: 371px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 1242px;
    left: 677px;
    overflow: hidden;
  }
  .v86_4788 {
    width: 267px;
    height: 270px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 1242px;
    left: 677px;
    overflow: hidden;
  }
  .v86_4789 {
    width: 266px;
    height: 207px;
    background: url("../images/v86_4789.png");
    opacity: 1;
    position: absolute;
    top: 1242px;
    left: 678px;
    border: 1px solid rgba(180,180,180,1);
  }
  .v86_4790 {
    width: 267px;
    height: 371px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 1242px;
    left: 975px;
    overflow: hidden;
  }
  .v86_4791 {
    width: 267px;
    height: 371px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 1242px;
    left: 975px;
    overflow: hidden;
  }
  .v86_4792 {
    width: 266px;
    height: 270px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 1242px;
    left: 977px;
    overflow: hidden;
  }
  .v86_4793 {
    width: 266px;
    height: 207px;
    background: url("../images/v86_4793.png");
    opacity: 1;
    position: absolute;
    top: 1242px;
    left: 976px;
    border: 1px solid rgba(180,180,180,1);
  }
  .v86_4794 {
    width: 267px;
    height: 371px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 1242px;
    left: 1273px;
    overflow: hidden;
  }
  .v86_4795 {
    width: 267px;
    height: 371px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 1242px;
    left: 1273px;
    overflow: hidden;
  }
  .v86_4796 {
    width: 267px;
    height: 270px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 1242px;
    left: 1273px;
    overflow: hidden;
  }
  .v86_4797 {
    width: 266px;
    height: 207px;
    background: url("../images/v86_4797.png");
    opacity: 1;
    position: absolute;
    top: 1242px;
    left: 1274px;
    border: 1px solid rgba(180,180,180,1);
  }
  .v86_4798 {
    width: 267px;
    height: 371px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 1240px;
    left: 1572px;
    overflow: hidden;
  }
  .v86_4799 {
    width: 267px;
    height: 371px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 1240px;
    left: 1572px;
    overflow: hidden;
  }
  .v86_4800 {
    width: 267px;
    height: 270px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 1240px;
    left: 1572px;
    overflow: hidden;
  }
  .v86_4801 {
    width: 266px;
    height: 207px;
    background: url("../images/v86_4801.png");
    opacity: 1;
    position: absolute;
    top: 1240px;
    left: 1573px;
    border: 1px solid rgba(180,180,180,1);
  }
  .v86_4802 {
    width: 267px;
    height: 371px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 1242px;
    left: 1273px;
    overflow: hidden;
  }
  .v86_4803 {
    width: 267px;
    height: 371px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 1242px;
    left: 1273px;
    overflow: hidden;
  }
  .v86_4804 {
    width: 268px;
    height: 270px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 1242px;
    left: 1273px;
    overflow: hidden;
  }
  .v86_4805 {
    width: 266px;
    height: 207px;
    background: url("../images/v86_4805.png");
    opacity: 1;
    position: absolute;
    top: 1242px;
    left: 1274px;
    border: 1px solid rgba(180,180,180,1);
  }
  .v86_4806 {
    width: 267px;
    height: 371px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 1240px;
    left: 1572px;
    overflow: hidden;
  }
  .v86_4807 {
    width: 267px;
    height: 371px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 1240px;
    left: 1572px;
    overflow: hidden;
  }
  .v86_4808 {
    width: 268px;
    height: 270px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 1240px;
    left: 1572px;
    overflow: hidden;
  }
  .v86_4809 {
    width: 266px;
    height: 207px;
    background: url("../images/v86_4809.png");
    opacity: 1;
    position: absolute;
    top: 1240px;
    left: 1573px;
    border: 1px solid rgba(180,180,180,1);
  }
  .v86_4810 {
    width: 266px;
    height: 371px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 657px;
    left: 379px;
    overflow: hidden;
  }
  .v86_4811 {
    width: 266px;
    height: 371px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 657px;
    left: 379px;
    overflow: hidden;
  }
  .v86_4812 {
    width: 265px;
    height: 369px;
    background: url("../images/v86_4812.png");
    opacity: 1;
    position: absolute;
    top: 657px;
    left: 380px;
    border: 1px solid rgba(180,180,180,1);
  }
  .v86_4813 {
    width: 266px;
    height: 369px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 657px;
    left: 678px;
    overflow: hidden;
  }
  .v86_4814 {
    width: 266px;
    height: 369px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 657px;
    left: 678px;
    overflow: hidden;
  }
  .v86_4815 {
    width: 265px;
    height: 367px;
    background: url("../images/v86_4815.png");
    opacity: 1;
    position: absolute;
    top: 657px;
    left: 679px;
    border: 1px solid rgba(180,180,180,1);
  }
  .v86_4816 {
    width: 267px;
    height: 367px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 657px;
    left: 976px;
    overflow: hidden;
  }
  .v86_4817 {
    width: 267px;
    height: 367px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 657px;
    left: 976px;
    overflow: hidden;
  }
  .v86_4818 {
    width: 266px;
    height: 365px;
    background: url("../images/v86_4818.png");
    opacity: 1;
    position: absolute;
    top: 657px;
    left: 977px;
    border: 1px solid rgba(180,180,180,1);
  }
  .v86_4819 {
    width: 266px;
    height: 365px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 657px;
    left: 1275px;
    overflow: hidden;
  }
  .v86_4820 {
    width: 266px;
    height: 365px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 657px;
    left: 1275px;
    overflow: hidden;
  }
  .v86_4821 {
    width: 265px;
    height: 363px;
    background: url("../images/v86_4821.png");
    opacity: 1;
    position: absolute;
    top: 657px;
    left: 1276px;
    border: 1px solid rgba(180,180,180,1);
  }
  .v86_4822 {
    width: 266px;
    height: 365px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 657px;
    left: 1576px;
    overflow: hidden;
  }
  .v86_4823 {
    width: 269px;
    height: 365px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 657px;
    left: 1573px;
    overflow: hidden;
  }
  .v86_4824 {
    width: 265px;
    height: 363px;
    background: url("../images/v86_4824.png");
    opacity: 1;
    position: absolute;
    top: 657px;
    left: 1577px;
    border: 1px solid rgba(180,180,180,1);
  }
  .v86_4825 {
    width: 247px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 588px;
    left: 80px;
    font-family: Wire One;
    font-weight: Regular;
    font-size: 55px;
    opacity: 1;
    text-align: left;
  }
  .v86_4826 {
    width: 247px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1175px;
    left: 81px;
    font-family: Wire One;
    font-weight: Regular;
    font-size: 55px;
    opacity: 1;
    text-align: left;
  }
  .v86_4827 {
    width: 479px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 148px;
    left: 675px;
    font-family: Wire One;
    font-weight: Regular;
    font-size: 55px;
    opacity: 1;
    text-align: left;
  }
  .v86_4828 {
    width: 561px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 355px;
    left: 677px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v86_4829 {
    width: 70px;
    height: 66px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 24px;
    left: 105px;
    overflow: hidden;
  }
  .v86_4832 {
    width: 140px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1061px;
    left: 81px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v86_4833 {
    width: 140px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1060px;
    left: 229px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v86_4834 {
    width: 140px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1060px;
    left: 388px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v86_4835 {
    width: 140px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1060px;
    left: 679px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v86_4836 {
    width: 140px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1062px;
    left: 976px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v86_4837 {
    width: 140px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1063px;
    left: 1282px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v86_4838 {
    width: 140px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1063px;
    left: 1576px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v86_4839 {
    width: 266px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1113px;
    left: 81px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .v86_4840 {
    width: 266px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1113px;
    left: 81px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .v86_4841 {
    width: 266px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1113px;
    left: 380px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .v86_4842 {
    width: 266px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1117px;
    left: 679px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .v86_4843 {
    width: 266px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1113px;
    left: 978px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .v86_4844 {
    width: 266px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1113px;
    left: 1282px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .v86_4845 {
    width: 266px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1113px;
    left: 1576px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .v86_4993 {
    width: 171px;
    height: 170px;
    background: url("../images/v86_4993.png");
    opacity: 1;
    position: absolute;
    top: 135px;
    left: 426px;
    border-radius: 50%;
  }
  .v86_4994 {
    width: 419px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 195px;
    left: 626px;
    font-family: Wire One;
    font-weight: Regular;
    font-size: 55px;
    opacity: 1;
    text-align: left;
  }
  .v102_4921 {
    width: 100%;
    height: 25px;
    background: url("../images/v102_4921.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 64px;
    left: 492px;
    overflow: hidden;
  }
  .v102_4922 {
    width: 107px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3px;
    left: 475px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v102_4923 {
    width: 72px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3px;
    left: 663px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v102_4925 {
    width: 63px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3px;
    left: 325px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v102_4926 {
    width: 104px;
    height: 24px;
    background: url("../images/v102_4926.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 1237px;
    overflow: hidden;
  }
  .v102_4927 {
    width: 72px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 2px;
    left: 32px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: left;
  }
  .v102_4928 {
    width: 24px;
    height: 24px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .v102_4941 {
    width: 209px;
    height: 25px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 934px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v111_4573 {
    width: 20px;
    height: 19px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 1105px;
  }
  .v102_4773 {
    width: 100%;
    height: 147px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 1447px;
    left: 0px;
    overflow: hidden;
  }
  .v130_4571 {
    width: 121px;
    height: 83px;
    background: url("../images/v130_4571.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 19px;
    left: 80px;
    overflow: hidden;
  }
  
  