* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Poppins", sans-serif;
  }
  
  
  .nav {
    position: absolute;
    width: 100%;
    display: flex;
    
    justify-content: space-between;
  }
  
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
  }
  
  header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header ul li {
    position: relative;
    list-style: none;
    text-align: center;
  }
  
  header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    text-align: center;
  }
  
  header.sticky {
    padding: 5px 100px;
    background: #000;
  }
  
  header.sticky ul li a{
    color: #000;
    text-align: center;
  }

  .banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    background: url(bg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.banner .content{
    max-width: 550px;
}
.banner .content h2{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    color: #000;
}
.banner .content h2 span{
    font-weight: 800;
}
.banner .content p{
    
    font-weight: 300;
    font-size: 1.2em;
    letter-spacing: 0.02em;
    line-height: 1.5em;
    color: #000;
    margin: 15px 0 35px;
}
.play{
    position: relative;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color: #000;
    border:#000;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1.2em;
}
.play img{
    margin-right: 10px;
    max-width: 50px;
}
.trailer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10000;
    background: rgba(0, 0, 0, 0.95);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}
.trailer.active{
    visibility: visible;
    opacity: 1;
}
.trailer video{
    max-width: 900px;
    outline: none;
}
.trailer .close{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(1);
    max-width: 32px;
}

@media (max-width: 991px){
    header{
        padding: 20px 50px;
    }
    header{
        padding: 20px 50px;
    }
    header .logo{
        max-width: 80px;
    }
    header .toggle{
        max-width: 40px;
    }
    .banner{
        padding: 100px 50px;
    }
    .banner .content h2{
        font-weight: 400;
        font-size: 2em;
        letter-spacing: 0.05em; 
    }
    .banner .content p{
        font-size: 1em;
    }
    .trailer video{
        max-width: 90%;
        outline: none;
    }
}