

/* 


.top{
    height: 50%;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;

}
h1{
    text-align: center;
    color: black;
    padding-top: 10px;
    padding-bottom: 60px;
}
h2{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-bottom: 20px;
    color: black;
}

h5{
    color: black;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 160px;
}

p{
    color: black;
    font-size: x-small;
}

.h-1{
    width: 200px;
    height: 50px;
    float: left;
}

.h-2{
    width: 200px;
    height: 50px;
    float: left;
    margin-left: 550px;
    margin-top: -50px;
}

.form{
    float: left;
}

input{
    border: none 0;
    width: 200px;
    height: 50px;
    background-color: rgb(243, 241, 241);
    color: black;

}

.line{
    width: 200px;
    height: 1px;
    background-color: #2b2b2b;
}

.personal-details{
    float: right;
    margin-bottom: -51px;
    margin-left: 50px;
}

.personal-details{
    float: left;
    margin-bottom: -30px;
    margin-left: 20px;
}

.banking-details{
    float: right;
} */


