.heading {
 color: black;
    margin-top: 100px;
    padding-left: 100px;
}

.one {
    margin: 0 auto;
    width: 100% !important;
    height: 350px;
    margin-bottom: 15px;
    border-radius: 10px;
    
}                

.image {
    background-color: aquamarine;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: -4px 4px 5px 0 #000;
    transition: 0.5s;
    margin-top: 25px;
    background-repeat: none;
    width: 200px;
    height: 300px;
    border-radius: 10px;
}

.image:hover {
    transform: translateY(-10px);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.block {
    padding-left: 100px !important;
}

li {
    display: inline-block;
    list-style: none;
    text-align: center;
}

.Pg {
    width: 30%;
    height: 20px;
    margin-top: -20px;
    border-radius: 10px;
    float: right;
}

.Movie_title {
    height: 50px;
    width: 100%;
    overflow: auto;
    font-size: 15px;
    font-weight: 600px;
    color: black;
    margin-top: 10px;
}

.knoppie {
    position: absolute;
    margin: 0 auto;
    top: 260px;
    left: 10px;
    width: 120px;
    height: 25px;
    background-color: rgb(12, 49, 56);
    border-radius: 10px;
    color: white;
    text-align: center;
}

