.row {
    padding-top: 200px;
    height: 400px;
  
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.first { 
    background-color: rgb(255, 175, 175);
}

.second { 
    background-color: rgb(197, 113, 113);
}

.third { 
    background-color: rgb(136, 66, 66);

}

.fourth { 
    background-color: rgb(92, 34, 34);

}